# Java
java-app/target/
!java-app/target/config.properties

# Node.js
api-rest/node_modules/
api-rest/.env

# Docker volumes e temporários
*.sql.bak

# IDE
.idea/
*.iml
.vscode/

# Windows
Thumbs.db
Desktop.ini
